/* Colors */
$primary: #AC1B1B;
$secondary: #F6AE2D;
$purple: #36213E;
$pink: #B988B3;
$blue: #86BBD8;
$orange: #F79256;


@import "bootstrap/scss/bootstrap.scss";

body {
  font-family: 'Lora', serif !important;
}