@use 'navbar';
@use 'hero';
@use 'mainSellingPoint';
@use 'chooseCardeal';
@use 'howItWorks';
@use 'faq';
@use 'testimonials';
@use 'recentPurchases';
@use 'footer';

/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
