@use '_custom' as *;


nav{
    background-color: $blue;
    color: black;
    height: 4rem;
    border-bottom: 2px solid $purple;
    position: fixed;

    .navbar-brand{
        max-height: 100%;
    }

     .logo{
        height: 3rem;
        width: 50%;
    }

    #navbarSupportedContent{
        width: 100%;
    }

    .nav-link{
        color: black !important;

        &:hover{
            color: $primary;
        }
    }

    ul{
        width: 100vw;
        margin: 0 -16px;
        background-color: $blue;
    }

    .navbar-collapse{
        background-color: $blue;
    }

    .navbar-toggler{
        border: 1.5px solid $purple;
    }

    @include media-breakpoint-up (md){
        .logo{
            height: 3rem;
        }
    }

    @include media-breakpoint-up (lg){
        height: 5rem;
        
        max-height: 10rem;

        ul{
            margin: 0;
            width: 100%;
            background-color: transparent;
        }

        .navbar-collapse{
            background-color: transparent;
        }

        .nav-item{
            font-size: 1.5rem;
            margin: 0 .75rem;
        }

        .navbar-brand{
            max-height: 10rem;
        }

        .active{
            background-color: $primary !important;
            color: white !important;
            border-radius: 15px;
        }

        .logo{
            max-height: 2.25rem;
            width: auto;
        }
    }
    
}

